.currency__accordion_icon_1 {
  background-image: url(../../../../../img/currency__accordion-icon-1.svg);
}

.currency__accordion_hidden {
  height: auto;
}

.currency__accordion_icon_2 {
  background-image: url(../../../../../img/currency__accordion-icon-2.svg);
}

.currency__accordion_icon_3 {
  background-image: url(../../../../../img/currency__accordion-icon-3.svg);
}

.currency__video {
  background-image: url(../../../../../img/video-image.svg);
}
.folow_active {
  cursor: pointer;
}
.folow_active .is_active_1,
.folow_active .is_active_2,
.folow_active .is_active_3 {
  display: none;
}
.folow_active.active .is_active_1 {
  display: block;
}
.folow_active.active .is_active_2 {
  display: block;
}
.folow_active.active .is_active_3 {
  display: block;
}
