.pagination_bullet_items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 70px;
  max-width: 70px;
  width: 70px;
  height: 70px;
  margin: 0 12px;
  border-radius: 50%;
  color: #606060;
  transition: all 0.25s;
  opacity: 0.6;
  cursor: pointer;
  background: #fff;
  font-family: Play;
  font-weight: bold;
  user-select: none;
}
.active_pagination_items {
  background: #fff;
  color: #ff8225;
  box-shadow: 5px 21px 40px -6px rgba(138, 108, 91, 0.15);
  opacity: 1;
}
.correct_position {
  display: flex;
  align-items: center;
}
.previouseBttn,
.nextBttn {
  margin-right: 40px;
  margin-left: 40px;
}
