.news_nav,
.section_right .news_item,
.infos {
  display: flex;
}

.news_nav .block {
  width: 380px;
  height: 138px;
  padding: 14px 0 17px 0;
  border: 1px solid #eee8e0;
  box-sizing: border-box;
}
.block_head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}
.block_head .news_nav__icon {
  margin-right: 16px;
}
.block_head .head_text {
  width: 74px;
  height: 31px;
  font-family: Play;
  font-weight: bold;
  font-size: 22px;
  color: #223344;
}

.infos {
  margin-left: 33px;
  text-align: center;
  align-items: center;
  font-style: normal;
  color: #292f45;
  font-size: 16px;
  line-height: 130%;
}

.infos .valute {
  font-family: Play;
  font-weight: bold;
  margin-left: 6px;
  margin-right: 7px;
}
.infos .sum {
  width: 60px;
  height: 21px;
  font-family: Open Sans;
  font-weight: bold;
  margin-right: 3px;
}
.infos .arrival {
  height: 18px;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 14px;
  color: #26a33a;
}
.infos .arrow {
  margin: 0 4px;
}

.block_content .nav {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
}

.block_content .nav .nav__item {
  user-select: none;
  padding: 8px;
  min-width: 105px;
  text-align: center;
  margin-right: 22px;
}
.block_content .nav .nav__item.active {
  border-bottom: 5px solid #ff8225;
  border-radius: 5px;
}
.block_content .contents {
  width: 100%;
  height: auto;
  margin-top: -5px;
  padding: 31px 40px 42px 44px;
  background: #ffffff;
  box-shadow: 5px 6px 60px -10px rgba(138, 108, 91, 0.15);
  border-radius: 41px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.block_content .section_left {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

.section_left .big_img {
  height: 384px;
  display: flex;
  margin-bottom: 17px;
}
.contents .data {
  display: flex;
}
.contents .data p {
  width: 67px;
  height: 20px;
  margin-left: 7px;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 150%;
  color: #606060;
}

.section_left .info .text_info {
  display: flex;
  font-weight: bold;
  font-size: 19px;
  line-height: 150%;
  color: #292f45;
  flex-wrap: wrap;
}
.block_link .link {
  height: 21px;
  margin-right: 7px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #ff8225;
}

.section_right {
  font-family: Open Sans;
  font-style: normal;
  display: block;
}
.section_right .all_news.block {
  width: 505px;
  height: 80px;
  background: #fef9f3;
}
.section_right .news_item .text_info {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #292f45;
}
.section_right .news_item {
  margin-bottom: 20px;
}

.section_right .news_item__img {
  margin-right: 20px;
}
.section_right .news_item__img img {
  border-radius: 10px;
}

.section_right .news_item__info {
  display: flex;
  align-items: center;
}

.section_right .all_news,
.items__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.items__info,
.section_right .all_news.block {
  padding: 0;
}
.section_right .all_news p {
  width: 102px;
  height: 24px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #292f45;
}
