.guide__item_img_1 {
  background-image: url(../../../../../img/guide__item-img-1.jpg);
}

.guide__item_img_2 {
  background-image: url(../../../../../img/guide__item-img-2.jpg);
}

.guide__item_img_3 {
  background-image: url(../../../../../img/guide__item-img-3.jpg);
}

.guide__item_img_4 {
  background-image: url(../../../../../img/guide__item-img-4.jpg);
}

.guide__item_img_5 {
  background-image: url(../../../../../img/guide__item-img-5.jpg);
}

.guide__item_img_6 {
  background-image: url(../../../../../img/guide__item-img-6.jpg);
}
