.media__item_img_1 {
  background-image: url(../../../../../img/media__item-img-1.png);
}

.media__item_img_2 {
  background-image: url(../../../../../img/media__item-img-2.png);
}

.media__item_img_3 {
  background-image: url(../../../../../img/media__item-img-3.png);
}

.media__item_img_4 {
  background-image: url(../../../../../img/media__item-img-4.png);
}

.media__item_img_5 {
  background-image: url(../../../../../img/media__item-img-5.jpg);
}

.media__item_img_6 {
  background-image: url(../../../../../img/media__item-img-6.png);
}

.media__item_img_7 {
  background-image: url(../../../../../img/media__item-img-7.jpg);
}

.media__item_img_8 {
  background-image: url(../../../../../img/media__item-img-8.png);
}

.media__item_img_9 {
  background-image: url(../../../../../img/media__item-img-9.png);
}

.media__item_img_10 {
  background-image: url(../../../../../img/media__item-img-10.png);
}

.media__item_img_11 {
  background-image: url(../../../../../img/media__item-img-11.jpg);
}

.media__item_img_12 {
  background-image: url(../../../../../img/media__item-img-12.jpg);
}

.media__item_img_13 {
  background-image: url(../../../../../img/media__item-img-13.jpg);
}

.media__item_img_14 {
  background-image: url(../../../../../img/media__item-img-14.jpg);
}

.media__item_img_15 {
  background-image: url(../../../../../img/media__item-img-15.jpg);
}

.media__item_img_16 {
  background-image: url(../../../../../img/media__item-img-16.jpg);
}

.media__item_img_17 {
  background-image: url(../../../../../img/media__item-img-17.jpg);
}
