.xxplatform_en {
  background-image: url(../../../img/footer__socials-icon-10.svg);
}
.XXPlatform_1 {
  background-image: url(../../../img/footer__socials-icon-1.svg);
}
.XXPlatform_2 {
  background-image: url(../../../img/footer__socials-icon-2.svg);
}
.xxplatform_1 {
  background-image: url(../../../img/footer__socials-icon-3.svg);
}
.socials_icon_4 {
  background-image: url(../../../img/footer__socials-icon-4.svg);
}
.footer__socials_icon_5 {
  background-image: url(../../../img/footer__socials-icon-5.svg);
}
.footer__socials_icon_6 {
  background-image: url(../../../img/footer__socials-icon-6.svg);
}
.footer__socials_icon_7 {
  background-image: url(../../../img/footer__socials-icon-7.svg);
}
.footer__socials_icon_8 {
  background-image: url(../../../img/footer__socials-icon-8.svg);
}
.footer__socials_icon_9 {
  background-image: url(../../../img/footer__socials-icon-9.svg);
}
.footer__vk_icon {
  background-image: url(../../../img/vk_logo.svg);
}
